* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background: #f7f7f8;
    color: #111;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 220px;
    background: white;
    padding: 2rem;
    border-right: 1px solid #eaeaea;
}

.logo {
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.2s;
}

.sidebar a:hover {
    color: black;
}

.content {
    flex: 1;
    padding: 4rem;
    max-width: 900px;
}

.intro {
    margin-bottom: 1rem;
}

.intro h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.links {
    margin-top: 4rem;
    margin-bottom: 4rem; /* Abstand zu den Cards darunter */
}

.links h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.links a {
    display: block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    margin-bottom: 0.8rem;
    transition: color 0.2s ease, transform 0.2s ease;
}

.links a:hover {
    color: #000;
    transform: translateX(4px); /* leichter moderner Slide-Effekt */
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.card {
    background: white;
    padding: 1.5rem;
    border-radius: 14px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    transition: transform 0.2s ease;
    width: 100%;
}

p{
    margin-top: 0.7rem;
}

/* Quellenbereich */
.sources {
    list-style: none;
    padding: 1.5rem;}

.sources li {
    margin-bottom: 0.5rem;
    line-height: 1.6;
    color: #444;
    font-size: 0.95rem;
}

.sources li:last-child {
    margin-bottom: 0;
}

.sources a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-size: 0.85rem;
    word-break: break-all;
    transition: color 0.2s ease, transform 0.2s ease;
}

.sources a:hover {
    color: #000;
    transform: translateX(3px);
}

/* Responsive */
@media (min-width: 800px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #eaeaea;
    }

    .content {
        padding: 2rem;
    }
}